@{
    ViewData["Title"] = "Update";
}

@model ProductSubCategoryVM

<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
                </ol>
            </nav>
        </div>
        <form class="needs-validation clearfix row" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.UpdateCommand.Id" />
            <div class="col-xl-6 col-md-12">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="ms-panel ms-panel-fh">
                    <div class="ms-panel-header">
                        <h6>Edit Product Form</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom18">Title</label>
                                <div class="input-group">
                                    <input type="text" asp-for="@Model.UpdateCommand.Title" class="form-control" value="@Model.UpdateCommand.Title" placeholder="Title" required>
                                    <span asp-validation-for="@Model.UpdateCommand.Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom18">Description</label>
                                <div class="input-group">
                                    <input type="text" asp-for="@Model.UpdateCommand.Description" class="form-control" value="@Model.UpdateCommand.Description" placeholder="Description" required>
                                    <span asp-validation-for="@Model.UpdateCommand.Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom18">Price</label>
                                <div class="input-group">
                                    <input type="number" asp-for="@Model.UpdateCommand.Price" class="form-control" value="@Model.UpdateCommand.Price" placeholder="Price" required>
                                    <span asp-validation-for="@Model.UpdateCommand.Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom18">Units In Stock</label>
                                <div class="input-group">
                                    <input type="number" asp-for="@Model.UpdateCommand.UnitsInStock" class="form-control" value="@Model.UpdateCommand.UnitsInStock" placeholder="Units In Stock" required>
                                    <span asp-validation-for="@Model.UpdateCommand.UnitsInStock" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom22">Select Colours</label>
                                <div class="input-group">
                                    <div class="row">
                                        @if (Model.Colours != null)
                                        {
                                            @foreach (var colour in Model.Colours)
                                            {
                                                bool isSelected = Model.UpdateCommand.Colours.Contains(colour);
                                                <div class="col-md-6">
                                                    <input type="checkbox" name="UpdateCommand.Colours" value="@colour" @(isSelected ? "checked disabled" : "") />
                                                    @colour
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom22">Select Sub-category</label>
                                <div class="input-group">
                                    <select class="form-control" id="subCategorySelect" asp-for="@Model.UpdateCommand.SubCategoryId">
                                        @foreach (var item in Model.SubCategories)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <label class="form-label">Upload Images</label>
                                <input type="file" class="form-control" accept="image/*" asp-for="@Model.UpdateCommand.Files" multiple>
                                <span asp-validation-for="@Model.UpdateCommand.Files" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ms-panel">
                            <div class="ms-panel-header">
                                <h6>Animal </h6>
                            </div>
                            <div class="ms-panel-body">
                                <div id="imagesSlider" class="ms-image-slider carousel slide" data-ride="carousel">
                                    @if (Model.UpdateCommand.ProductImages.Any(x => x.IsMain))
                                    {
                                        <div class="carousel-inner" id="carouselInner">
                                            <div class="carousel-item active">
                                                <img id="mainImage" class="d-block w-100" src="~/assets/img/post/@Model.UpdateCommand.ProductImages.FirstOrDefault(x=>x.IsMain).Path" alt="First slide">
                                            </div>
                                        </div>
                                    }

                                    <ol class="carousel-indicators" id="carouselIndicators">
                                        @foreach (var item in Model.UpdateCommand.ProductImages.Where(x => !x.IsMain))
                                        {
                                            <li data-target="#imagesSlider" data-slide-to="0" class="active">
                                                <img class="d-block w-100" src="~/assets/img/post/@item.Path" alt="First slide">
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                            <div class="ms-panel-header new">
                                <a asp-controller="Products" asp-action="Index" class="btn btn-secondary d-block" type="submit">Back</a>
                                <button class="btn btn-primary d-block" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#carouselIndicators li').click(function () {
            var imagePath = $(this).find('img').attr('src');
            $('#mainImage').attr('src', imagePath);
        });
    });

    var selectElement = document.getElementById("subCategorySelect");
  
    var currentSubCategoryId = "@Model.UpdateCommand.SubCategoryId";
  
    for (var i = 0; i < selectElement.options.length; i++) {
        if (selectElement.options[i].value === currentSubCategoryId) {
            selectElement.options[i].selected = true;
            break;
        }
    }
</script>