@{
    ViewData["Title"] = "Create";
}

@model CategoryAnimalSubCategoryVM

<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                </ol>
            </nav>
        </div>
        <form class="needs-validation clearfix row" method="post" enctype="multipart/form-data">
            <div class="col-xl-12 col-md-12">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="ms-panel ms-panel-fh">
                    <div class="ms-panel-header">
                        <h6>Add Category Form</h6>
                    </div>
                    <div class="ms-panel-body">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom18">Category Name</label>
                                <div class="input-group">
                                    <input type="text" asp-for="@Model.CreateCommand.Name" class="form-control" placeholder="Category Name" required>
                                    <span asp-validation-for="@Model.CreateCommand.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom22">Select Animals</label>
                                <div class="input-group">
                                    <div class="row">
                                        @if (Model.Animals != null)
                                        {
                                            @foreach (var item in Model.Animals)
                                            {
                                                <div class="col-md-6">
                                                    <input type="checkbox" name="CreateCommand.SelectedAnimals" value="@item.Id" />
                                                    @item.Name <br />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom22">Select SubCategories</label>
                                <div class="input-group">
                                    <div class="row">
                                        @if (Model.SubCategories != null)
                                        {
                                            @foreach (var item in Model.SubCategories)
                                            {
                                                <div class="col-md-6">
                                                    <input type="checkbox" name="CreateCommand.SelectedSubCategories" value="@item.Id" />
                                                    @item.Name <br />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-panel-header new">
                        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary d-block" type="submit">Back</a>
                        <button class="btn btn-primary d-block" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>